<aside class="sidebar" id="sidebar">

  <!-- BRAND -->
  <div class="sidebar-brand">
    <div class="brand-icon">
      <i class="ri-government-line"></i>
    </div>

    <div class="brand-text">
      <h2>Strategiya</h2>
      <p>Platformasi</p>
    </div>

    <button
    type="button"
    class="sidebar-toggle"
    id="sidebarToggle"
    title="Sidebar"
    aria-label="Sidebarni qisqartirish"
  >
    <i class="ri-menu-fold-line"></i>
  </button>
  </div>

  <!-- MENU -->
  <nav class="sidebar-menu">
    <ul>

      <li id="menuDashboard" class="active" data-title="Dashboard">
        <i class="ri-dashboard-line"></i>
        <span class="sidebar-text">Dashboard</span>
      </li>

      <li id="menuProjects" data-title="Projects">
        <i class="ri-folder-3-line"></i>
        <span class="sidebar-text">Projects</span>
      </li>

      <li id="menuStructure" data-title="Struktura">
        <i class="ri-organization-chart"></i>
        <span class="sidebar-text">Struktura</span>
      </li>

      <li id="menuTadat" data-title="Tadat">
        <i class="ri-file-chart-line"></i>
        <span class="sidebar-text">Tadat</span>
      </li>

      <li id="menuReports" data-title="Reports">
        <i class="ri-bar-chart-box-line"></i>
        <span class="sidebar-text">Reports</span>
      </li>

      <li id="menuSettings" data-title="Settings">
        <i class="ri-settings-3-line"></i>
        <span class="sidebar-text">Settings</span>
      </li>

    </ul>
  </nav>

  <!-- FOOTER -->
  <div class="sidebar-footer">
    <div class="mini-user">
      <div class="mini-avatar">A</div>

      <div class="mini-user-info">
        <strong>Admin</strong>
        <span>Online</span>
      </div>
    </div>
  </div>

</aside>